
/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Muli', sans-serif;
}

.section {
    width: 100%;
    position: relative;
    position: relative;
}

.btn {
    display: inline-block;
    border-radius: 31px;
    text-decoration: none;
    font-size: 16px;
    padding: 21px;
    background-color: #333;
    color: #fff;
}

.full-container {
    max-width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mb-10 {
    margin-bottom: 10px;
}
.mr-10 {
    margin-right: 10px;
}
#pageUp {
    width: 70px;
    height: 57px;
    background: #cbcbd7 url(#{$asseturl}pageuparrow.png) no-repeat center center;
    position: fixed;
    right: 13%;
    bottom: 30px;
    z-index: 9999;
    display: none;
    cursor: pointer;
}
.stickyPageUp {
    position: absolute !important;
    top: -57px;
    right: 13%;
}