
/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Muli', sans-serif;
}

section {
    width: 100%;
    min-height: 899px;
    height: 100vh;
    position: relative;
    position: relative;
}
