
/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Muli', sans-serif;
}

.section {
    width: 100%;
    position: relative;
    position: relative;
}

.btn {
    display: inline-block;
    border-radius: 31px;
    text-decoration: none;
    font-size: 16px;
    padding: 21px;
    background-color: #333;
    color: #fff;
}